/* Custom CSS file */

/* Main Tag Styling */
body{
    background-color: #95adbe;
}

footer{
    background-color:  #95adbe36;
    margin: 0;
}

main{
    margin-top: 2em;
    background-color:#503a6525;
    padding: 1em;
    box-shadow: 8px 8px 2px 1px#503a6541;
    color:#422e55;
    text-align: center;
}

a:hover,a:visited{
    color: #fbfffe;
}
a:link{
    color:#f0ede0
}

button:hover{
    background-color: #a89da5 !important;
    border-color: #503a65 !important;
    color: #e0f0ea !important;
}



/* Customized Bootstrap Classes */
.navbar{
    background-color: #503a65;
    color: #e0f0ea;
}

.nav-link{
    color: #503a65 !important;
}

.btn , .btn-primary{
    background-color: #503a65;
    color: #fff;
    border-color: #95adbe;
}

/* Page Elements Styling */
#CodeHeroImage{
    height: 30vh;
    margin-left:auto;
    margin-right: auto;
}
